{{define "view-compact"}}
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-5 gap-2 mb-4 max-h-72 overflow-y-auto border-2 border-red-700 neo-shadow-lg p-1">
    {{range .Data.Hosts}}
    {{if ne .StatusLabel "Operational"}}
    <div>{{template "card-compact" .}}</div>
    {{end}}
    {{end}}
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-5 gap-2 mt-12 mb-6 max-h-64 overflow-y-auto border-2 border-green-700 neo-shadow-lg p-1">
    {{range .Data.Hosts}}
    {{if eq .StatusLabel "Operational"}}
    <div>{{template "card-compact" .}}</div>
    {{end}}
    {{end}}
</div>
{{end}}
